# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env

# Ignore database file
events.db

# Ignore OS metadata
.DS_Store
Thumbs.db

# Ignore IDE/project settings
.vscode/
.idea/
*.swp
